# Ignore artifacts:
build
coverage
cache
public/build
prisma/seed.ts
prisma/migrations
node_modules
.env
tailwind.config.ts
readMe.md
package.json
.gitignore
remix.env.d.ts
tsconfig.json
package-lock.json
coverage
/app/entry.server.tsx
/app/entry.client.tsx
.vscode/settings.json
.markdownlint.json
.gihub/workflows
components.json
./github
*.mdx
/app/components/ui
vite.config.ts
prettier.config.js
.eslintrc.cjs
