@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;

@tailwind components;

@tailwind utilities;

.container {
  align-items: center;
  position: relative;
  max-width: 600px;
  height: auto;
  border: 2px solid #ffffff;
  margin: 10px auto;
  padding: 30px;
  box-sizing: border-box;
  background: #ffffff;
  z-index: 10;
}

.container:after {
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 2px solid transparent;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid transparent;
  top: 20px;
  right: 52%;
  left: 46%;
  content: '';
  z-index: 0;
  transform: rotate(45deg);
  margin-top: -25px;
  background: #ffffff;
}
